<table>
    <tr><td colspan = 2>
        <h1><div id="heading">Joker</div></h1>
    </td><tr><td>
    <tr><td colspan = 2>
        <div id="buttons">
            <button class="btn btn-default" id="nextjoke" onclick="clickNextJoke()">Get Next Joke</button>
            <button class="btn btn-default" id="showpunchline" onclick="clickShowPunchline()">Show The Punchline</button>
        </div>
    </td><tr><td>
        <div id="joketext"></div>
    </td><tr><td>
        <div id="jokepunchline" style="display: none"></div>
    </td></tr>
</table>
<script>clickNextJoke()</script>